html,
body {
    position: relative;
    height:  100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}


nav {
    padding: 5px;
    display: block;
    height: 50px;
}
nav ul{
    list-style: none;
    margin: 15px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #FFE8FF;
    padding-left: 22px;
    margin-block: 0px;
    margin-inline: 0px;
    /* width: 100%; */
    /* border-bottom: 1px solid; */
}
nav li{
    padding: 0px 10px;
    display: inline-block;
    margin-bottom: 15px;
}

.video_list {
    margin-top: 100px;
    position: absolute;
}
.video_list ul{
    list-style: none;
    margin: 15px;
    float: left;
    width: 100%;
    padding-left: 22px;
    margin-block: 0px;
    margin-inline: 0px;
    /* width: 100%; */
    /* border-bottom: 1px solid; */
}
.video_list li{
    padding: 0px 10px;
    display: inline-block;
    margin-bottom: 15px;
}
/* 
.banner {
    position: relative;
    height: 500px;
} */

/* .swiper {
    width: 100%;
} */

.swiper-container {
    width: 100%;
    height: 300px;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fafafa;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

/*   
.bannerImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */